<div style="height:100vh;">
    <app-header-black></app-header-black>

    <div class="image">

        <div style="color: black;  width: 100%;">
            <span style="position: absolute; font-size: 50px; top: 15%; left: 30%;">
                <b>Construction simplified,<br />
                from designing to delivering.</b>
                <br />
            </span>
            <span style="position: absolute; font-size: 15px; top: 45%; left: 33%;">
                One Grade Builders is a construction platform that simplifies civil construction of all
            </span>
        </div>
    </div>


    <div class="row" style="width: 100%; padding: 100px; margin-top: -100px;">
        <div class="col">
            <span style="font-size: 30px; font-family: Poppins; font-style: normal;font-weight: 600;">Using technology to level the <br />playing field.</span>
        </div>

        <div class="col">
            <b>One Grade Builders</b> is a construction platform that simplifies civil construction <br />  
            of all scales. We provide end-to-end construction services from design and<br />  
             drawings to  handover with accurate estimations, process transparency, <br /> 
            timely delivery and best-in-class workmanship by  professional contractors. <br /> 
            Whether it’s a new farmhouse or your dream home, we make the execution of your idea easier.
        </div>
    </div>


    <div style="padding: 100px;">

        <span style="font-family: Poppins; font-size: 30px;
        font-style: normal;
        font-weight: 600;"><b>Why You should Trust and Build With <br/> OGBuilders </b></span> <br /> <br />

        <div class="row" style="padding-top: 50px;">
        <div class="col">
            <div class="row-xs-3"> <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav flex-column">
              <li class="nav-item active tab-box"><a href="#home" data-toggle="tab">Standard Estimation</a></li>
              <li class="nav-item active tab-box"><a href="#profile" data-toggle="tab">Best Pricing</a></li>
              <li class="nav-item active tab-box"><a href="#tech" data-toggle="tab">Technical Assistance</a></li>
              <li class="nav-item active tab-box"><a href="#messages" data-toggle="tab">Cash Flow Management</a></li>
              <li class="nav-item active tab-box"><a href="#settings" data-toggle="tab">OGB Digital Platform Access</a></li>
              <li class="nav-item active tab-box"><a href="#licence" data-toggle="tab">Experienced and licensed Contractor</a></li>
              <li class="nav-item active tab-box"><a href="#qa" data-toggle="tab">Quality Assurance</a></li>
              <li class="nav-item active tab-box"><a href="#time" data-toggle="tab">Timely Delivery</a></li>
              <li class="nav-item active tab-box"><a href="#poc" data-toggle="tab">Single POC</a></li>
            </ul>
        </div>
        </div>
         
        <div class="col">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                    <img    
                    src="assets/calci.png"
                    style="width: 15%;
                    height: 150px;"
                    alt="Landing Page"
                />
                <br/>
                <br/>
                <span>
                    Project estimation through government standard rates at item rates estimation. <br /> <br />
                    <b> NO MORE ‘CHATNAAP’ </b>                   
                </span>
              </div>
              <div class="tab-pane" id="profile">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Competitive pricing of project through internal project bidding <br /><br />
                <b> YOU GET THE BEST VALUE FOR YOUR HARD EARNED MONEY</b>                 
            </span>
                  
                </div>
                <div class="tab-pane" id="tech">
                    <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Architectural and Engineering assistance throughout the lifecycle of the project. <br /><br />
                <b>  NO MORE GUESSING GAME ABOUT THE DETAILS </b>                
            </span>
                                      
                </div>
              <div class="tab-pane" id="messages">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Easy and predefined payment timeline, which suits best to you. <br /><br />
                <b>  NO MORE LAST MINUTE PAYMENT ISSUE </b>              
            </span>

                  
                </div>
              <div class="tab-pane" id="settings">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Track, monitor, suggest changes and share updates of the project with your friends and family. <br /><br />
                <b>  YOU’RE IN CONTROL OF YOUR PROJECT, ALWAYS </b>                 
            </span>
                              
              </div>
              <div class="tab-pane" id="licence">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                We work with only experienced and government authorized contractors with excellent previous work record and workmanship history. <br /><br />
                <b> YOU GET THE BEST OF THE BEST FOR YOUR BUDGET </b>                  
            </span>
                             
              </div>

              <div class="tab-pane" id="qa">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Conformity checks for every milestone so that each segment of the project is aligned with your idea. <br /><br />
                <b>  LAB TESTED MATERIAL REPORTS, PROCESS AUDITS, WE DO IT ALL TO GIVE YOU THE BEST </b>
              
            </span>
                             
              </div>

              <div class="tab-pane" id="time">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                From the ground up, the project timelines are set to fulfill your project on time based on initial estimation. <br /><br />
                <b>  WE VALUE YOUR PATIENCE AND EXPECTATIONS </b>
                 
            </span>
                             
              </div>

              <div class="tab-pane" id="poc">
                <img    
                src="assets/calci.png"
                style="width: 15%;
                height: 150px;"
                alt="Landing Page"
            />
            <br/>
            <br/>
            <span>
                Our customer representative manager personally handles your project and is always happy to answer and resolve your queries. <br /><br />
                <b>  NO MORE COMMUNICATION GAP BETWEEN YOUR ARCHITECT, ENGINEER OR A BUILDING CONTRACTOR. WE’RE ALL IN ONE </b> 
            </span>
                             
              </div>
            </div>
        </div>
    </div>

    </div>

    <!-- <div class="image" style="margin-top: 100px;">
    
        <img    
            src="assets/projects.png"
            style="width: 100%;
            max-height: 100%;"
            alt="Landing Page"
        />
    
        <div style="color: white; width: 100%;">
            <div>
                <span style="font-size: 20px; position: absolute; top: 15%; left: 50%;"><b>Our Projects</b><br /></span><br /><br />
                
                <div class="row" style="position: absolute; top: 25%; left: 5%; width: 100%;">
                    
                    <div class="p-2 client-review-box">
                        <div class="row" style="padding: 15px;">
                            <div class="col-3">
                                <img    
                                    src="assets/profilepic.png"
                                    class="rounded-circle"
                                    style="width: 100%; height: 60px;"
                                    />
                            </div>                    
                            <div class="col-6">
                                <strong><b>Aman Jain</b></strong><br />
                                Jaipur, Rajasthan<br />
                            </div>
                            <div class="col-3" style="border-radius: 100%;">
                                4.5
                                <img    
                                    src="assets/star.png"
                                    style="width: 20%; height: 12px;"
                                    />
                            </div>
                        </div>               
                        <div class="row" style="padding: 20px;">
                            OGB provides end-to-end construction<br />
                            services from design and drawings to hand
                        </div>
                        <br/>
                        <br/>
                    </div>
        
                    <div class="p-2 client-review-box">
                        <div class="row" style="padding: 15px;">
                            <div class="col-3">
                                <img    
                                    src="assets/jadon.png"
                                    class="rounded-circle"
                                    style="width: 100%; height: 60px;"
                                    />
                            </div>                    
                            <div class="col-6">
                                <strong><b>Vishal singh </b></strong><br />
                                Tonk, Rajasthan<br />
                            </div>
                            <div class="col-3" style="border-radius: 100%;">
                                5
                                <img    
                                    src="assets/star.png"
                                    style="width: 20%; height: 12px;"
                                    />
                            </div>
                        </div>               
                        <div class="row" style="padding: 20px;">
                            OGB provides end-to-end construction<br />
                            services from design and drawings to hand
                        </div>
                        <br/>
                        <br/>
                    </div>

                    <div class="p-2 client-review-box">
                        <div class="row" style="padding: 15px;">
                            <div class="col-3">
                                <img    
                                    src="assets/ayush.png"
                                    class="rounded-circle"
                                    style="width: 100%; height: 60px;"
                                    />
                            </div>                    
                            <div class="col-6">
                                <strong><b>Ayush Singh</b></strong><br />
                                Kota, Rajasthan<br />
                            </div>
                            <div class="col-3" style="border-radius: 100%;">
                                4
                                <img    
                                    src="assets/star.png"
                                    style="width: 20%; height: 12px;"
                                    />
                            </div>
                        </div>               
                        <div class="row" style="padding: 20px;">
                            OGB provides end-to-end construction<br />
                            services from design and drawings to hand
                        </div>
                        <br/>
                        <br/>
                    </div>
            
                </div>
            </div> 
        </div>
    </div> -->


    <div class="row" style="width: 100%; padding: 100px; margin-top: 100px;">
        <div class="col">
            <br /><br /><br />
            <span style="font-size: 25px; font-family: Poppins; font-style: normal;font-weight: 600;">Our Mission</span> <br /><br />

            Civil construction in India accounts for over 6 lakh crores yet has been most <br/>
            reluctant to adopt the global age of technology. We believe the sector which <br />
            accounts for 5% of the nation’s GDP is long due a digital revolution which addresses <br />
            issues important to the end customer such as trust, standar
        </div>

        <div class="col" style=" margin-right: -250px;">
            <img    
            src="assets/mac.png"
            style="width: 100%;
            max-height: 100%;"
            alt="Landing Page"
        />
        </div>
    </div>


    <app-footer></app-footer>

</div>