<div style="height:100vh;">
    <app-header-black></app-header-black>

    <div class="image">

        <div style="color: black;  width: 100%;">
            <span style="position: absolute; font-size: 50px; top: 15%; left: 30%;">
                <b>Construction simplified,<br />
                from designing to delivering.</b>
                <br />
            </span>
            <span style="position: absolute; font-size: 15px; top: 40%; left: 33%;">
                One Grade Builders is a construction platform that simplifies civil construction of all
            </span>
            
            
        </div>

    </div>

    <div style="padding: 50px; margin-top: -200px; height: 800px;">
        <div class="row">

            <div class="col">
                <img    
                    src="assets/process-2.png"
                    style="width: 100%; height: 400px;"
                    alt="Landing Page"
                />
            </div>

            <div class="col" style="padding-left: 100px;">
                <br />
                <br />
                <span style="font-size: 40px;" ><b>Raise a Request</b></span> <br >

                <p style="font-family: Poppins; font-style: normal; font-weight: normal;">
                    Call us at +918005614503 or raise a service request at ogbuilders.in. Our team <br/> 
                    will get in touch with you to understand your requirements in more detail. We <br/>
                    will arrange the meeting with our technical expert. <br/>
                    <br/>
                    Experts will guide you in selecting the right package and solve any queries that you may have.
                    </p>
            </div>

        </div>

    </div>

    <app-footer></app-footer>

</div>
