<nav class="navbar navbar-expand-sm" style="background-color: transparent; z-index: 1;">

  <div class="row" style="padding-left: 40px; width: 100%;"> 
  
  <div style="float: left; padding-left: 40px;" class="col-3">
    <h1 class="navbar-brand"><span class="font-white" (click)="onHomeClick()"><b>OGB</b></span></h1>
  </div>

  <div style="float: right;" class="col-6">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link font-white" (click)="onPackageClick()" >Packages</div>
      </li>
      <li class="nav-item">
        <div class="nav-link font-white" (click)="onProcessClick()" >Process</div>
      </li>
      <li class="nav-item">
        <div class="nav-link font-white" (click)="onAboutClick()" >About</div>
      </li>
      <li class="nav-item">
        <div class="nav-link font-white" (click)="onHomeClick()">Blogs</div>
      </li>
    </ul>
  </div>

  <div style="float: right; padding-left: 40px;" class="col-3">
    <h3 class="navbar-brand font-white" ><span class="font-white">Contact us</span></h3>
  </div>

  
  </div>
  </nav>