.image{
    position: relative;
    width: 100%;
    height: 700px;
    text-align: center;
}

.image2-heading1{
    position: absolute;
    top: 18%;
    left: 5%;
    color: #2ECC71;
 }

 .image2-heading2{
    position: absolute;
    top: 22%;
    left: 5%;
    color: black;
 }

 .image2-card{
    position: absolute;
    width: 45%;
    height: 300px;
    top: 40%;
    left: 5%;
    background-color: white;
    border-radius: 10px;
 }

 .plan-box{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   box-sizing: border-box;
   border-radius: 10px;
   width: 20%;
   margin: 20px; 
   color: black;
   text-align: center;
 }