<div>
    <div class="image">
    
        <img    
            src="assets/ogb-header.png"
            style="width: 100%; height: 500px;"
            alt="Landing Page"
        />
    
        <div style="color: white; font-size: larger; width: 100%;">
        <h2>Construction simplified,<br />
            from designing to delivering.</h2>
        </div>

    </div>

    <div class="d-flex justify-content-center" style="width: 100%; height: 150px; position: relative; margin-top: -60px;">
    
        <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black;">
            <strong>Trust</strong><br />
            100% Trusted
        </div>

        <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black;">
            <strong>Transparency</strong><br />
            Full transparency in work
        </div>

        <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black;">
            <strong>Technology</strong><br />
            Latest tech in hand
        </div>

    </div>


    <div style="padding: 100px;">
        <h5><span style="color: #2ECC71;">Our packages</span></h5>
        <h4><b>Choose the plan that's right for you</b></h4>

        <div class="d-flex justify-content-center" style="width: 100%; height: 300px; position: relative;">
    
            <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black; border-color: black; border-radius: 2px;">
                <strong><b>Basic plan</b></strong><br />
                <b>$ 1000 / sq feet</b><br />
                OGB provides end-to-end cont services<br />
                from designated services
                <br/>
                <br/>
                <br/>
                <button type="button" class="btn btn-outline-dark">Know more</button>
            </div>
    
            <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black; border-color: black; border-radius: 2px;">
                <strong><b>Standard plan</b></strong><br />
                <b>$ 1200 / sq feet</b><br />
                OGB provides end-to-end cont services<br />
                from designated services
                <br/>
                <br/>
                <br/>
                <button type="button" class="btn btn-outline-dark">Know more</button>
            </div>
    
            <div class="p-2" style="width: 20%; background-color: #ECF0F1; margin: 20px; color: black; border-color: black; border-radius: 2px;">
                <strong><b>Technology</b></strong><br />
                <b>$ 1500 / sq feet</b><br />
                OGB provides end-to-end cont services<br />
                from designated services
                <br/>
                <br/>
                <br/>
                <button type="button" class="btn btn-outline-dark">Know more</button>
            </div>
    
        </div>

    </div>

    <div class="image">
    
        <img    
            src="assets/ogb-main2.png"
            style="width: 100%; height: 600px;"
            alt="Landing Page2"
        />
    
        <div style="color: white; font-size: larger; width: 100%;">
        <h5><span class="image2-heading1">Cost calculator</span></h5> <br />
        <h3><span class="image2-heading2">Get an approxx estimate of your project</span></h3>


        <div class="image2-card">

            <div class="row" style="padding: 15px;">
            <div class="col">
                <label style="color: black;">Name</label>
                <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="col">
                <label style="color: black;">Contact No.</label>
                <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>

        <div class="row" style="padding: 15px;">
            <div class="col">
                <label style="color: black;">Plot area, Square feet</label>
                <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="col">
                <label style="color: black;">Number of floors</label>
                <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 30px; padding-right: 30px;">
            <button type="button" class="btn col btn-outline-dark">Estimate</button>
            <div class="col"></div>
        </div>
        </div>
        </div>
    </div>


    <div style="padding-top: 200px;">

        <div style="color: #2ECC71; width: 100%; text-align: center;">
        How it works
        </div>

        <div style="width: 100%; text-align: center;">
        <h4><b>Procedure to convert your vision into reality.</b></h4>
        </div>

        <img    
            src="assets/how-it-works-main.PNG"
            style="width: 100%; height: 400px;"
            alt="Landing Page"
        />

        <br/>
        <br/>
        <div style="width: 100%;"> 
        <button type="button" style="margin-left: 47%;" class="btn btn-outline-dark">Know more</button>
        </div>
    </div>


    <div style="padding: 100px;">
        <h5><span style="color: #2ECC71;">Testimonials</span></h5>
        <h4><b>Have a look at what our clients say,</b></h4>

        <div class="d-flex" style="width: 100%; height: 200px; position: relative;">
    
            <div class="p-2 client-review-box">
                <strong><b>Aman Jain</b></strong><br />
                <b>Jaipur, Rajasthan</b><br />
                OGB provides end-to-end construction<br />
                services from design and drawings to hand
                <br/>
                <br/>
            </div>
    
            <div class="p-2 client-review-box">
                <strong><b>Aman Jain</b></strong><br />
                <b>Jaipur, Rajasthan</b><br />
                OGB provides end-to-end construction<br />
                services from design and drawings to hand
                <br/>
                <br/>
            </div>
    
            <div class="p-2 client-review-box">
                <strong><b>Aman Jain</b></strong><br />
                <b>Jaipur, Rajasthan</b><br />
                OGB provides end-to-end construction<br />
                services from design and drawings to hand
                <br/>
                <br/>
            </div>
    
        </div>

    </div>


    <div style="padding-top: 200px;">

        <div style="width: 100%; text-align: center;">
        <h4><b>Frequently asked questions</b></h4>
        </div>

        <div class="row">
            <div class="col" style="width: 50%; padding: 120px 30px 30px 100px">  
                <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="true" aria-controls="multiCollapseExample1">
                    How does OGB define a project’s timeline and value estimation?
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div style="padding: 10px 3px 3px 5px">
                        We use standard procedure for estimation by extracting BOQ of your requirements with the exact quantity of labour and material required. Project is designed considering variable factors such as location, scale, type, and technical. Project will be completed in a given period of time.  
                    </div>
                </div>
            </div>

            <div class="col" style="width: 50%; padding: 120px 30px 30px 100px">
                <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2">
                    How do I apply for a live project?
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div style="padding: 10px 3px 3px 5px">
                        Just go to our website!  
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" style="width: 50%; padding: 50px 30px 30px 100px">  
                <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="true" aria-controls="multiCollapseExample3">
                    I'm not a licensed contractor, can I still register?
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div style="padding: 10px 3px 3px 5px">
                        We use standard procedure for estimation by extracting BOQ of your requirements with the exact quantity of labour and material required. Project is designed considering variable factors such as location, scale, type, and technical. Project will be completed in a given period of time.  
                    </div>
                </div>
            </div>

            <div class="col" style="width: 50%; padding: 50px 30px 30px 100px">
                <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="true" aria-controls="multiCollapseExample4">
                    Where can I get new projects?
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                    <div style="padding: 10px 3px 3px 5px">
                        Just go to our website!  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 100px;">

        <div style="color: #2ECC71; width: 100%; text-align: center;">
            Blogs
        </div>
    
        <div style="width: 100%; text-align: center;">
            <h4><b>Attractive articals updated on daily basis</b></h4>
        </div>

        <div class="d-flex" style="width: 100%; height: 200px; position: relative;">
    
            <div class="p-2 blog-image-box">
                <img    
                    src="assets/blog1.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </div>
    
            <div class="p-2 blog-image-box">
                <img    
                    src="assets/blog2.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </div>
    
            <div class="p-2 blog-image-box">
                <img    
                    src="assets/blog3.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </div>
    
        </div>
    </div>


    <div style="padding: 100px;">

        <h5><span style="color: #2ECC71;">Enquiry Form</span></h5>
        <h4><b>Fill the form to clear out all your queries, now!</b></h4>

        <div style="padding: 50px;"></div>

        <form>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputNumber4">Phone Number</label>
                <input type="number" class="form-control" id="inputNumber4" placeholder="Phone Number">
              </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Location</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Location">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2">Plot Area</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Plot Area">
            </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Floors</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Type</label>
                <select id="inputState" class="form-control">
                  <option selected>2 BHK</option>
                  <option>3 BHK</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>




</div>
