<div style="height:100vh;">
    <app-header></app-header>
    <div class="image" style="margin-top: -100px;">
    
        <img    
            src="assets/ogb-header.png"
            style="width: 100%; height: 550px;"
            alt="Landing Page"
        />
    
        <div style="color: white; font-size: 60px; width: 100%;">
            <span c style="position: absolute; top: 30%; left: 25%;">
                <b>Making Construction easy<br />
                    from design to delivering</b>
                    <br />
                <button type="button" (click)="scroll(estimate)" class="btn btn-success">Build with us</button>
            </span>
            
            
        </div>

    </div>

    <div class="d-flex justify-content-center" style="width: 100%; height: 150px; position: relative; margin-top: -40px;">
    
        <div class="p-2 image1-box row">
            <div class="col-4 d-flex justify-content-center">
                <img    
                src="assets/trust.png"
                style="width: 80%; height: 50px; margin-top: 20px;"
                />  
            </div>

            <div class="col-8 align-self-center">
            <strong>Trust</strong><br />
            <span style="color: #4C4C4C;">Excellent Workmanship</span>
            </div>
        </div>

        <div class="p-2 image1-box row">
            <div class="col-4 d-flex justify-content-center">
                <img    
                src="assets/Transparency.png"
                style="width: 80%; height: 50px; margin-top: 20px;"
                /> 
            </div>

            <div class="col-8 align-self-center">
            <strong>Transparency</strong><br />
            <span style="color: #4C4C4C;">Verified Materials & Labour</span>
            </div>
        </div>

        <div class="p-2 image1-box row">
            <div class="col-4 d-flex justify-content-center">
                <img    
                src="assets/Technology.png"
                style="width: 80%; height: 50px; margin-top: 20px;"
                /> 
            </div>

            <div class="col-8 align-self-center">
            <strong>Technology</strong><br />
            <span style="color: #4C4C4C;">Remote Project Tracking</span>
            </div>
        </div>

    </div>


    <div style="padding-top: 100px; margin-bottom: 50px;">

        <div style="color: #2ECC71; width: 100%; text-align: center;">
        How it works
        </div>

        <div style="width: 100%; text-align: center;">
        <h4><b>Procedure to convert your vision into reality.</b></h4>
        </div>

        <img    
            src="assets/how-it-works-main.PNG"
            style="width: 100%; height: 400px;"
            alt="Landing Page"
        />

        <br/>
        <br/>
        <div style="width: 100%;"> 
        <button type="button" (click)="onProcessClick()" style="margin-left: 47%;" class="btn btn-outline-dark">Know more</button>
        </div>
    </div>

    <div #estimate class="row" style="width: 100%; height: 200px; background-color: #2ECC71; padding: 60px;">
        <span class="col" style="font-size: 30px; color: white;">
            <b>Looking To Construct A Home? <br />
             Find Out What It Costs.</b></span>       
        <button class="col" style="width: 20%; height: 50px; margin-left: 40%;" type="submit" (click)="onPackageClick()" class="btn btn-dark">Get Free Estimate</button>
    </div>
    


    <div style="padding: 100px; ">
        <h5><span style="color: #2ECC71;">Our packages</span></h5>
        <h4><b>Choose the plan that's right for you</b></h4>

        <div class="d-flex justify-content-center" style="width: 100%; height: 350px; position: relative;">
    
            <div class="p-2 plan-box">
                <strong><b>Basic plan</b></strong><br /><br />

                <img    
                src="assets/diamond-blue.png"
                style="width: 20%; height: 50px;"
                /> <br /><br />

                <b>INR 1000 / sq feet</b><br />
                <span style="font-size: 10px;">
                    OGB provides end-to-end cont services<br />
                    from designated services
                </span>
                <br/>
                <br/>
                <br/>
                <button type="button" (click)="onPackageClick()" class="btn btn-outline-dark">Know more</button>
            </div>
    
            <div class="p-2 plan-box">
                <strong><b>Standard plan</b></strong><br /><br/>

                <img    
                src="assets/diamond-yellow.png"
                style="width: 20%; height: 50px;"
                /> <br /><br />

                <b>INR 1200 / sq feet</b><br />
                <span style="font-size: 10px;">
                OGB provides end-to-end cont services<br />
                from designated services
                </span>
                <br/>
                <br/>
                <br/>
                <button type="button" (click)="onPackageClick()" class="btn btn-outline-dark">Know more</button>
            </div>
    
            <div class="p-2 plan-box">
                <strong><b>Technology</b></strong><br /><br/>

                <img    
                src="assets/diamond-pink.png"
                style="width: 20%; height: 50px;"
                /> <br /><br />

                <b>INR 1500 / sq feet</b><br />
                <span style="font-size: 10px;">
                OGB provides end-to-end cont services<br />
                from designated services
                </span>
                <br/>
                <br/>
                <br/>
                <button type="button" (click)="onPackageClick()" class="btn btn-outline-dark">Know more</button>
            </div>
    
        </div>

    </div>


    <div style="padding: 100px;">
        <h5><span style="color: #2ECC71;">Testimonials</span></h5>
        <h4><b>Have a look at what our clients say,</b></h4>

        <div class="d-flex" style="width: 100%; height: 250px; position: relative;">
    
            <div class="p-2 client-review-box">
                <div class="row" style="padding: 15px;">
                    <div class="col-3">
                        <img    
                            src="assets/profilepic.png"
                            class="rounded-circle"
                            style="width: 100%; height: 60px;"
                            />
                    </div>                    
                    <div class="col-6">
                        <strong><b>Aman Jain</b></strong><br />
                        Jaipur, Rajasthan<br />
                    </div>
                    <div class="col-3" style="border-radius: 100%;">
                        4.5
                        <img    
                            src="assets/star.png"
                            style="width: 20%; height: 12px;"
                            />
                    </div>
                </div>               
                <div class="row" style="padding: 20px;">
                    OGB provides end-to-end construction<br />
                    services from design and drawings to hand
                </div>
                <br/>
                <br/>
            </div>
    
            <div class="p-2 client-review-box">
                <div class="row" style="padding: 15px;">
                    <div class="col-3">
                        <img    
                            src="assets/jadon.png"
                            class="rounded-circle"
                            style="width: 100%; height: 60px;"
                            />
                    </div>                    
                    <div class="col-6">
                        <strong><b>Vishal singh </b></strong><br />
                        Tonk, Rajasthan<br />
                    </div>
                    <div class="col-3" style="border-radius: 100%;">
                        5
                        <img    
                            src="assets/star.png"
                            style="width: 20%; height: 12px;"
                            />
                    </div>
                </div>               
                <div class="row" style="padding: 20px;">
                    OGB provides end-to-end construction<br />
                    services from design and drawings to hand
                </div>
                <br/>
                <br/>
            </div>
    
            <div class="p-2 client-review-box">
                <div class="row" style="padding: 15px;">
                    <div class="col-3">
                        <img    
                            src="assets/ayush.png"
                            class="rounded-circle"
                            style="width: 100%; height: 60px;"
                            />
                    </div>                    
                    <div class="col-6">
                        <strong><b>Ayush Singh</b></strong><br />
                        Kota, Rajasthan<br />
                    </div>
                    <div class="col-3" style="border-radius: 100%;">
                        4
                        <img    
                            src="assets/star.png"
                            style="width: 20%; height: 12px;"
                            />
                    </div>
                </div>               
                <div class="row" style="padding: 20px;">
                    OGB provides end-to-end construction<br />
                    services from design and drawings to hand
                </div>
                <br/>
                <br/>
            </div>
    
        </div>

    </div>


    <div style="padding-top: 50px;">

        <div style="width: 100%; text-align: center;">
        <h4><b>Frequently asked questions</b></h4>
        </div>

        <div class="row">
            <div class="col" style="width: 50%; padding: 100px 30px 30px 100px;">  
                <button style="background-color: transparent; border: transparent;" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="true" aria-controls="multiCollapseExample1">
                    <span style="color: #2ECC71;">How does OGB define a project’s timeline and value estimation?</span>
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div style="padding: 10px 3px 3px 5px">
                        We use standard procedure for estimation by extracting BOQ of your requirements with the exact quantity of labour and material required. Project is designed considering variable factors such as location, scale, type, and technical. Project will be completed in a given period of time.  
                    </div>
                </div>
            </div>

            <div class="col" style="width: 50%; padding: 100px 30px 30px 100px">
                <button style="background-color: transparent; border: transparent;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2">
                    <span style="color: #2ECC71;"> How do I apply for a live project? </span>
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div style="padding: 10px 3px 3px 5px">
                        We are very soon launching our biding platform, until then send a mail to vishal@ogbuilders.in
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" style="width: 50%; padding: 50px 30px 30px 100px">  
                <button style="background-color: transparent; border: transparent;" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="true" aria-controls="multiCollapseExample3">
                    <span style="color: #2ECC71;"> I'm not a licensed contractor, can I still register? </span>
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div style="padding: 10px 3px 3px 5px">
                        Please contact our support number +91-8005614503 , where we will provide assistance regarding obtaining new license and becoming our partner
                    </div>
                </div>
            </div>

            <div class="col" style="width: 50%; padding: 50px 30px 30px 100px">
                <button style="background-color: transparent; border: transparent;" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="true" aria-controls="multiCollapseExample4">
                    <span style="color: #2ECC71;"> Where can I get new projects? </span>
                </button>
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                    <div style="padding: 10px 3px 3px 5px">
                        We are very soon launching our projects platform, until then send a mail to vishal@ogbuilders.in
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 100px;">

        <div style="color: #2ECC71; width: 100%; text-align: center;">
            Blogs
        </div>
    
        <div style="width: 100%; text-align: center;">
            <h4><b>Attractive articals updated on daily basis</b></h4>
        </div>

        <div class="d-flex" style="width: 100%; height: 200px; position: relative;">
    
            <a onclick="window.open('https://timesofindia.indiatimes.com/spotlight/why-is-it-the-right-time-to-invest-in-real-estate/articleshow/79661986.cms', '_blank');" 
                class="p-2 blog-image-box">
                <img    
                    src="assets/blog1.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </a>
    
            <div onclick="window.open('https://www.buildersmart.in/blogs/Challenges-faced-while-constructing-a-house-by-an-individual/', '_blank');"
                class="p-2 blog-image-box">
                <img    
                    src="assets/blog2.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </div>
    
            <div onclick="window.open('https://nbcpa.us/6-ways-to-prevent-construction-fraud/', '_blank');" 
                class="p-2 blog-image-box">
                <img    
                    src="assets/blog3.png"
                    style="width: 100%; height: 250px;"
                    alt="Landing Page"
                />
            </div>
    
        </div>
    </div>


    <div style="padding: 100px;">

        <h5><span style="color: #2ECC71;">Enquiry Form</span></h5>
        <h4><b>Fill the form to clear out all your queries, now!</b></h4>

        <div style="padding: 50px;"></div>

        <form [formGroup]="enquiryForm">
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Name" formControlName="eName">
              </div>
              <div class="form-group col-md-6">
                <label for="inputNumber4">Phone Number</label>
                <input type="number" class="form-control" id="inputNumber4" placeholder="Phone Number" formControlName="key">
              </div>
            </div>

            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Location</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Location" formControlName="eLocation">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2">Plot Area</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Plot Area" formControlName="ePlotArea"> 
            </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Floors</label>
                <input type="text" class="form-control" id="inputCity" formControlName="eFloors">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Type</label>
                <select id="inputState" class="form-control" formControlName="eType">
                  <option selected>2 BHK</option>
                  <option>3 BHK</option>
                </select>
              </div>
            </div>

            <button type="submit" (click)="submitEnquiryForm()" class="btn btn-success">Submit</button>
          </form>
    </div>

    <app-footer></app-footer>

</div>
