<div class="footer">

    <div class="row" style="width: 100%;">

        <div class="col" style="color: white; margin: 20px;">

            <span style="font-size: 50px;"><b>OGB</b></span> <br /> <br />

            <p>
                126-27-28, Okay Plus Spaces, Near <br />
                Apex Circle, Malviya Industrial Area, <br />
                Jaipur-302017 
            </p>

            +91-800-561-4503
            <br />
            <br />
            Copyright © 2020 OGB
        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Explore</b></span> <br /><br />


            Construction Calculator <br />
            Process <br />
            Pricing <br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Resources</b></span> <br /><br />


            Residential Brochure <br />
            Commercial Brochure <br />
            Blogs <br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Follow</b></span> <br /><br />


            Instagram <br />
            Linkedin <br />
            Facebook <br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Legal</b></span> <br /><br />


            Terms <br />
            Privacy <br />
        </div>



    </div>

</div>

