<div class="footer">

    <div class="row" style="width: 100%; line-height: 1.2;">

        <div class="col" style="color: white; margin: 20px;">

            <img    
            src="assets/ogb-white.png"
            style="width: 100px; height: 40px;"
        /> <br /> <br />

            <p>
                126-27-28, Okay Plus Spaces, Near <br />
                Apex Circle, Malviya Industrial Area, <br />
                Jaipur-302017 
            </p>

            +91-800-561-4503
            <br />
            <br />
            Copyright © 2020 OGB
        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Explore</b></span> <br /><br />


            <a style="cursor: pointer;" (click)="onPackageClick()"> Construction Calculator </a> <br />
            <a style="cursor: pointer;" (click)="onProcessClick()">Process </a><br />
            <a style="cursor: pointer;" (click)="onAboutClick()">Pricing </a><br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Resources</b></span> <br /><br />


            Residential Brochure <br />
            Commercial Brochure <br />
            Blogs <br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Follow</b></span> <br /><br />


            Instagram <br />
            Linkedin <br />
            Facebook <br />

        </div>

        <div class="col" style="color: white; margin: 20px;">
            <br />
            <span style="font-size: 20px;"><b>Legal</b></span> <br /><br />


            Terms <br />
            Privacy <br />
        </div>



    </div>

</div>

